@import './stylesfix.scss';

.App-link {
  color: $pinky;
  border: $bigTitle solid $pinky;
  text-decoration: none;
  @include centerAlles;
  h1 {
    color: cyan;
  }
}

p {
  color: $IntecGeel;
}
h1 {
  color: red;
}
